@{
    ViewBag.Title = "Test";
}


<div class="row">
    <div class="col-md-6 text-center">
        <h1 style="margin-top: 20%; height: 10%;">Connexion</h1>

        <input type="text" placeholder="Pseudonyme" class="col-md-6 col-md-offset-3" style="margin-top: 2%; height: 6%;" />

        <input type="text" placeholder="Password" class="col-md-6 col-md-offset-3" style="margin-top: 2%; height: 6%;" />
    </div>

    <div class="col-md-6 text-center">
        <h1 style="margin-top: 20%; height: 10%;">Inscription</h1>

        <input type="text" placeholder="Pseudonyme" class="col-md-6 col-md-offset-3" style="margin-top: 2%; height: 6%;" />

        <input type="text" placeholder="Password" class="col-md-6 col-md-offset-3" style="margin-top: 2%; height: 6%;" />

        <input type="text" placeholder="Password" class="col-md-6 col-md-offset-3" style="margin-top: 2%; height: 6%;" />
    </div>
</div>
