@{
    ViewBag.Title = "Test";
}
<div>
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
    </div>
</div>
